@font-face{
  font-family: "Hack";
  src:url(../fonts/Hack-Regular.ttf);
  font-weight:normal;
  font-style:normal;
}


body {
  font-family:Hack,Sans,Helvetica;
  font-size: 20px;
  margin-left: 7vh;
  margin-right:7vh;
  background: #bbbccc;
}

a {
  text-decoration: none;
}

h3 {
  position: relative;
  text-align: center;
  top:32%;
  font-size: 5vh;
  color:rgb(255,255,255,.6);
}


.center{
  margin-top: 0vh;
  text-align: center;
}

.center-title{
  margin: 0vh;
  text-align: center;
}



.font-change {
  animation-duration:50s;
  animation-name:change_color;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

@keyframes change_color{
  0% {color:#83b8c6;}
  50% {color:#fe0194;}
  100% {color:#1f51ff;}
}

.grid-container-art {
  margin-left: 10vh;
  margin-right:10vh;
  display:grid;
  grid-template-columns: auto auto auto auto;
}

.grid-container-play {
  font-size:20px;
  margin-left:20px;
  margin-right:20px;
  display:grid;
  grid-template-rows: auto;
}


.grid-item-play{
  width:100%;
  height:auto;
  margin:10px;
}

.list-link{
  font-size: 16px;
  margin:1%;
  line-height: 1vh;
}



.project-image{
  border-radius: 10px;
  margin-right:2vh;
  width:24vh;
  height:24vh;
  float:left;
}

.project-image-wide{
  margin-right:2vh;
  width:18vh;
  height:12vh;
  float:left;
}


.project-paragraph{
  font-size: 16px;
  margin:2%;
  line-height: 4vh;

}


.top-link{
  text-decoration:none;
}


@media(max-width:950px){
  .grid-container{
    grid-template-columns: auto auto;
  }
}

@media(max-width:600px){
  
  body {
		margin-left:1vh;
    margin-right:1vh;
  }
  
  
  .grid-container{
    grid-template-columns: auto;
  }
	
  .grid-container-play{
    margin-left:2vh;
    margin-right:2vh;
   }


@media(max-width:650px){
  head {
    font-size:16px;
  }

  .center{
    margin-top:15vh;
  }

  .project-paragraph{
    font-size: 14px;
    margin:2%;
    line-height:3vh;

  }
  

}
